html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*global*/
* { box-sizing: border-box; }
.clearfix {overflow: auto;}

/*typography*/
html { font-size: 10px; }
h1 {font-size: 3.8rem; }
h2 {font-size: 2.4rem; }
h3 {font-size: 2.0rem;}
h4 {font-size: 1.9rem}
p {font-size: 1.8rem; }
a {font-size: 1.6rem;}
li {font-size: 1.8rem;}


@-ms-viewport {
  width: device-width;
}

body {
  font-family: "jaf-bernina-sans-comp",sans-serif;
  background: url("img/background.jpeg") center fixed; 
  background-size: cover; 
  background-color: #f9f9f6;
}

header {
  background-color: #df2020;
  height: 155px;
  opacity: 0.9;
}

a {
  text-decoration: none;
  font-family: "jaf-bernina-sans-comp",sans-serif;
}

a:link {
  text-decoration: none;
  color: #F5FFFA;
}

a:visited {
    color: #F5FFFA;
}

a:hover {
  color: blue;
}

.container {
  max-width: 1080px; 
  margin: 0 auto;
  margin-top: 30px;
  line-height: 20px;
  color: white;
  font-family: "jaf-bernina-sans-comp",sans-serif;
  padding-left: 180px;
  padding-right: 180px;
}

.menucontainer {
  max-width: 1080px; 
  margin: 0 auto;
  margin-top: 30px;
  line-height: 20px;
  color: white;
  font-family: "jaf-bernina-sans-comp",sans-serif;
  padding-left: 80px;
  padding-right: 80px;
}

.menu {
  opacity: 0.9;
  margin: 0 auto;
  text-align: center;
  background-color: #df2020; 
}

nav ul li {
    opacity: 0.9;
    padding-right: 40px; 
    padding-left: 40px;
    padding-top: 20px;
    font-family: sans-serif;
    letter-spacing: 4px; 
    text-align: center;
    list-style: none;
    display: inline-block; 
}

p {
  margin-top: 20px;
  line-height: 25px;
  text-indent: 50px;
}

.menuitems {
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 35px;
}

/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: auto;
}*/

.logoimg {
  display:block;
  width: 140px;
  margin: 0 auto;
}


.fooddescription {
  font-style: italic;
}

h1 {
  font-weight: bold;
  line-height: 30px;
}

h3 {
  margin-top: 30px;
}

h4 {
  margin-top: 20px;
}

i {
  font-style: italic;
}

.contact {
  max-width: 1080px; 
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 26px;
  color: white;
  font-family: "jaf-bernina-sans-comp",sans-serif;
}

.box {
    width: 100%;
    height: 100%;
}

.phonenumber {
  font-size: 2.0rem;
}

.email {
  font-size: 2.0rem;
}

iframe {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 600px) {
    html {
    font-size: 10px; }
    
    .container {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    }
    
    a {
    font-size: 1rem; 
    }

}

@media only screen and (max-width: 800px) {
    html {
    font-size: 10px;
    }

    .container {
    text-align: center;
    margin-top: 40px;
    }

    a {
    font-size: 1.4rem; 
    }

    nav ul li {    
    padding-right: 10px; 
    padding-left: 10px;
    padding-top: 20px;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}